// Colors scheme

// First color scheme
$white: #fff;
$snow: #FAFAFA;
$quicksilver: #a0a0a0;

// Second color scheme
$jellybean: #e56553;
$salmon: #e97f72;
$pastelpink: #f0a9a1;

// Third color scheme
$granitegray: #686963;
$taupegray: #91918d;
$gray: #babab8;

//typography
$raleway: 'Raleway', sans-serif;

// font weight
$extraligth: 200;
$regular: 400;
$bold: 700;

// Font Size
$xx-large: 100px;
$x-large: 70px;
$large: 50px;
$medium: 18px;



